# American's best employees

In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

Data source: [link] ( https://www.forbes.com/lists/best-employers-by-state/?utm_medium=social&utm_campaign=socialflowForbesMainTwitter&utm_source=ForbesMainTwitter&sh=326f1f1e1983 )

In [22]:
url = 'https://www.forbes.com/lists/best-employers-by-state/?utm_medium=social&utm_campaign=socialflowForbesMainTwitter&utm_source=ForbesMainTwitter&sh=326f1f1e1983'
# Ask hosting server to fetch url
requests.get(url)
pages = requests.get(url)
# parser-lxml = Change html to Python friendly format
soup = BeautifulSoup(pages.text, 'lxml')

## Parse table row by row
Please note the IndustryRanks are assosiated by State, the company may have different ranks in different states. This is a reason for 'industryRanks' column to be a list.

In [23]:
rows=soup.find_all('a',class_="table-row")

result_list=[]
for row in rows:
    dict={}
    for i in row.children:
        check_span=i.find_all('span') # detect multiple entries for the ranks in different states
        if not check_span:
            dict[i['class'][0]]=i.text
        else:
            dict[i['class'][0]]=[k.text for k in check_span]
    result_list.append(dict)
best_employees=pd.DataFrame(result_list)

In [24]:
best_employees.head(10)

,industryRanks,organizationName,employees,headquarters,ceoName,industries,yearFounded
0,"[Utah, 14]",1-800 CONTACTS,,"Draper, Utah, United States",John (Jay) Duke Graham,Retail and Wholesale,1995
1,"[Alabama, 3, California, 38, Iowa, 8, Minnesot...",3M,"38,000","St. Paul, Minnesota, United States",Michael F. Roman,Packaged Goods,1902
2,"[Texas, 97]",AAA Cooper Transportation,"5,000","Dothan, Alabama, United States",Reid Dove,Transportation and Logistics,1955
3,"[Ohio, 83]",ABB,"105,000","Cary, North Carolina, United States",Björn Klas Otto Rosengren,"Semiconductors, Electronics, Electrical Engine...",1883
4,"[Illinois, 37, Minnesota, 30, Missouri, 30, Oh...",Abbott Laboratories,"33,900","Chicago, Illinois, United States",Robert B. Ford,Health Care Equipment & Services,1888
5,"[California, 82, Illinois, 24]",AbbVie,"50,000","North Chicago, Illinois, United States",Richard A. Gonzalez,Drugs & Biotechnology,2013
6,"[Utah, 26]",Academy Mortgage,,"Draper, Utah, United States",James Pherson,Banking and Financial Services,1988
7,"[Colorado, 58]",Academy School District 20,"3,140","Colorado Springs, Colorado, United States",Thomas Gregory,Education,1957
8,"[Georgia, 74, Illinois, 31, New Jersey, 64, Pe...",Accenture,"710,000","New York, New York, United States",Julie Spellman Sweet,Professional Services,1989
9,"[Illinois, 80]",Ace Hardware,"12,300","Oak Brook, Illinois, United States",John Venhuizen,Retail and Wholesale,1924

## Clean Data

### Fill the empty string with Nan

In [25]:
# Fill the empty string with Nan
best_employees['employees']=best_employees['employees'].str.replace(',','')
best_employees = best_employees.replace('', np.nan,regex=True)
best_employees['employees']=pd.to_numeric(best_employees['employees'],errors='coerce',downcast='integer')
best_employees['headquarters']=best_employees['headquarters'].str.split(',').str[1]
best_employees['yearFounded']=pd.to_numeric(best_employees['yearFounded'],errors='coerce',downcast='integer')

### Fixing repetative names in industry columns
* 'Travel & Leisure','Hotels, Restaurants & Leisure', 'Restaurants' -'Travel, Hotels, Restaurants, Leisure'
* 'Health Care Equipment & Services', 'Healthcare & Social' - 'Health Care Equipment, Services, Social'
* 'Construction, Oil & Gas Operations, Mining and Chemicals','Construction','Oil & Gas Operations','Chemicals'
* 'Retail and Wholesale','Retail & Wholesale'
* 'Media','Media & Advertising'
* 'Professional Service','Professional Services'

In [26]:
dict_travel_leisure = {'Travel & Leisure' : 'Travel, Hotels, Restaurants, Leisure', 'Hotels, Restaurants & Leisure' : 'Travel, Hotels, Restaurants, Leisure', 'Restaurants' : 'Travel, Hotels, Restaurants, Leisure'}
dict_health={'Health Care Equipment & Services': 'Health Care','Healthcare & Social':'Health Care'}
dict_wholesale={'Retail & Wholesale':'Retail and Wholesale'}
dict_oil_construction={'Construction':'Construction, Oil & Gas Operations, Mining and Chemicals','Oil & Gas Operations':'Construction, Oil & Gas Operations, Mining and Chemicals','Chemicals':'Construction, Oil & Gas Operations, Mining and Chemicals'}

 
# Remap the values of the dataframe
best_employees.replace({"industries": dict_travel_leisure},inplace=True)
best_employees.replace({"industries": dict_health},inplace=True)
best_employees.replace({"industries": dict_wholesale},inplace=True)
best_employees.replace({"industries": dict_oil_construction},inplace=True)
best_employees.replace({"industries": {'Semiconductors, Electronics, Electrical Engineering, Technology Hardware & Equipment':'Electronics'}},inplace=True)
best_employees.replace({"industries": {'Media':'Media & Advertising'}},inplace=True)
best_employees.replace({"industries": {'Professional Service':'Professional Services'}},inplace=True);

In [27]:
best_employees['industries'].unique()

array(['Retail and Wholesale', 'Packaged Goods',
       'Transportation and Logistics', 'Electronics', 'Health Care',
       'Drugs & Biotechnology', 'Banking and Financial Services',
       'Education', 'Professional Services', 'Engineering, Manufacturing',
       'Business Services & Supplies', 'Insurance',
       'Clothing, Shoes, Sports Equipment',
       'IT, Internet, Software & Services', 'Aerospace & Defense',
       'Construction, Oil & Gas Operations, Mining and Chemicals',
       'Government Services', 'Food, Soft Beverages, Alcohol & Tobacco',
       'Media & Advertising', 'Utilities',
       'Automotive (Automotive and Suppliers)',
       'Travel, Hotels, Restaurants, Leisure', nan,
       'Telecommunications Services, Cable Supplier', 'Conglomerates'],
      dtype=object)

In [28]:
best_employees['industries'].unique().shape

(25,)

In [30]:
best_employees.groupby('industries')['employees'].sum().sort_values(ascending=False)

industries
Government Services                                         7343320.0
Retail and Wholesale                                        6302212.0
Health Care                                                 5807015.0
Professional Services                                       2948046.0
Business Services & Supplies                                2726756.0
Travel, Hotels, Restaurants, Leisure                        2291434.0
Automotive (Automotive and Suppliers)                       2018212.0
Education                                                   2001465.0
Banking and Financial Services                              1942887.0
Transportation and Logistics                                1847141.0
Food, Soft Beverages, Alcohol & Tobacco                     1322052.0
Engineering, Manufacturing                                  1318162.0
Electronics                                                 1290929.0
IT, Internet, Software & Services                           1165046.0
Insurance                                                   1107186.0
Drugs & Biotechnology                                       1096742.0
Construction, Oil & Gas Operations, Mining and Chemicals     765442.0
Aerospace & Defense                                          712535.0
Telecommunications Services, Cable Supplier                  545676.0
Packaged Goods                                               419825.0
Clothing, Shoes, Sports Equipment                            399259.0
Utilities                                                    377006.0
Media & Advertising                                          286975.0
Conglomerates                                                 34000.0
Name: employees, dtype: float64

### Dealing with Nan

In [31]:
best_employees.isnull().sum().sort_values(ascending=False)

employees           212
ceoName              14
industries           10
yearFounded           1
industryRanks         0
organizationName      0
headquarters          0
dtype: int64

### Fill Nan in 'industries' column with additional data from the internet

In [10]:
print(best_employees.loc[best_employees['industries'].isnull(),:])

best_employees.loc[best_employees['organizationName']=='Atlantic Health System','industries']='Health Care'
best_employees.loc[best_employees['organizationName']=='BlueCross BlueShield of Tennessee','industries']='Health Care'
best_employees.loc[best_employees['organizationName']=='BMO Harris Bank','industries']='Banking and Financial Services'
best_employees.loc[best_employees['organizationName']=='Harvard University','industries']='Education'
best_employees.loc[best_employees['organizationName']=='Houston Methodist','industries']='Health Care'
best_employees.loc[best_employees['organizationName']=='Lenovo','industries']='Electronics'
best_employees.loc[best_employees['organizationName']=='University of Nebraska at Omaha','industries']='Education'
best_employees.loc[best_employees['organizationName']=='University of Nebraska, Lincoln','industries']='Education'
best_employees.loc[best_employees['organizationName']=='Valley Health System','industries']='Health Care'
best_employees.loc[best_employees['organizationName']=='Volvo Construction Equipment','industries']='Automotive (Automotive and Suppliers)'

best_employees.loc[best_employees['organizationName']=='Volvo Construction Equipment','yearFounded']=1832

                                     industryRanks  \
92                                [New Jersey, 18]
167                                 [Tennessee, 1]
170   [Illinois, 44, Minnesota, 39, Wisconsin, 73]
533                            [Massachusetts, 38]
566                                    [Texas, 25]
675                           [North Carolina, 32]
1247                                [Nebraska, 10]
1248                                 [Nebraska, 6]
1306                              [New Jersey, 13]
1322                            [Pennsylvania, 93]

                       organizationName  employees    headquarters  \
92               Atlantic Health System    18000.0      New Jersey
167   BlueCross BlueShield of Tennessee     6000.0       Tennessee
170                     BMO Harris Bank    12090.0        Illinois
533                  Harvard University    17839.0   Massachusetts
566                   Houston Methodist    27947.0           Texas
675                              Lenovo        NaN   United States
1247    University of Nebraska at Omaha        NaN        Nebraska
1248    University of Nebraska, Lincoln     5896.0        Nebraska
1306               Valley Health System     5749.0      New Jersey
1322       Volvo Construction Equipment        NaN    Pennsylvania

                ceoName industries  yearFounded
92     Brian Gragnolati        NaN       1995.0
167     Jason D. Hickey        NaN       1945.0
170        Darryl White        NaN       1882.0
533   Lawrence S. Bacow        NaN       1636.0
566        Marc L. Boom        NaN       1996.0
675        Kirk Skaugen        NaN       1984.0
1247          Joanne Li        NaN       1908.0
1248       Ronnie Green        NaN       1869.0
1306      Audrey Meyers        NaN       1951.0
1322                NaN        NaN          NaN

### Fill Nan in 'employees' column with median values for this industry

In [11]:
best_employees["employees"]=best_employees.groupby(['industries'])['employees'].apply(lambda x:x.fillna(x.median()))

In [12]:
# count nan depending on industry
best_employees.loc[best_employees["employees"].isnull(),'industries'].value_counts()

Series([], Name: industries, dtype: int64)

In [13]:
best_employees[best_employees['employees'].isnull()]

Empty DataFrame
Columns: [industryRanks, organizationName, employees, headquarters, ceoName, industries, yearFounded]
Index: []

### Calculate summary across industries

In [14]:
IndustriesSummary=pd.DataFrame({'TotalEmployees':best_employees.groupby('industries')['employees'].sum(),
              'Ncompanies':best_employees.loc[:,'industries'].value_counts(),
             'AverageNumberEmployers':best_employees.groupby('industries')['employees'].mean(),
             'AverageAge years':np.floor(2022-best_employees.groupby('industries')['yearFounded'].mean())})

In [15]:
print(best_employees['organizationName'].size)
print(best_employees['employees'].sum())

1380
49214996.0

### Unwrap industryRanks column

In [16]:
# create new DataFrame for company, state, rank

state_ranks=[]
dict_ranks={}

for name,row in best_employees.iterrows():
    company=row.organizationName
    
    
    for ind in range(len(row.industryRanks)):
        if  not (ind % 2): # isolate state
            state=row.industryRanks[ind]
        else:
            rank=row.industryRanks[ind] #isolate rank
            dict_ranks['organizationName']=company
            dict_ranks['state']=state
            dict_ranks['rank']=rank
            state_ranks.append(dict_ranks)
            dict_ranks={}
            
state_ranks_df=pd.DataFrame(state_ranks)

# merge state_rank to the result table
best_employees=pd.merge(left=best_employees,right=state_ranks_df,on='organizationName',how='left')
best_employees.drop(columns=['industryRanks'],inplace=True)

best_employees['rank']=pd.to_numeric(best_employees['rank'],errors='coerce',downcast='integer')

### Write to file

In [17]:
#best_employees.to_csv("BestEmployees2022.csv")

In [32]:
best_employees.columns

Index(['industryRanks', 'organizationName', 'employees', 'headquarters',
       'ceoName', 'industries', 'yearFounded'],
      dtype='object')

In [33]:
best_employees[best_employees['organizationName']=='Starbucks']

,industryRanks,organizationName,employees,headquarters,ceoName,industries,yearFounded
1064,"[Alabama, 11, Arizona, 37, Arkansas, 10, Color...",Starbucks,245000.0,Washington,Howard Schultz,"Travel, Hotels, Restaurants, Leisure",1971.0

In [18]:
IndustriesSummary=IndustriesSummary.reset_index().rename(columns={"index":"industries"})
IndustriesSummary.to_csv("IndustriesSummary2022.csv")

In [20]:
IndustriesSummary.sort_values(by='TotalEmployees',ascending=False)

,industries,TotalEmployees,Ncompanies,AverageNumberEmployers,AverageAge years
12,Government Services,8054264.0,101,79745.188119,167.0
19,Retail and Wholesale,6686212.0,81,82545.827160,69.0
13,Health Care,6464711.0,321,20139.286604,82.0
3,Business Services & Supplies,2979456.0,39,76396.307692,63.0
18,Professional Services,2948046.0,18,163780.333333,71.0
8,Education,2358000.0,297,7939.393939,128.0
22,"Travel, Hotels, Restaurants, Leisure",2348570.0,45,52190.444444,58.0
1,Automotive (Automotive and Suppliers),2083239.0,34,61271.735294,79.0
2,Banking and Financial Services,1986999.0,69,28797.086957,110.0
21,Transportation and Logistics,1862307.0,32,58197.093750,68.0
10,"Engineering, Manufacturing",1418162.0,45,31514.711111,102.0
9,Electronics,1414929.0,27,52404.777778,63.0
11,"Food, Soft Beverages, Alcohol & Tobacco",1349835.0,24,56243.125000,86.0
14,"IT, Internet, Software & Services",1205565.5,33,36532.287879,35.0
15,Insurance,1182651.0,54,21900.944444,93.0
7,Drugs & Biotechnology,1121036.5,27,41519.870370,89.0
6,"Construction, Oil & Gas Operations, Mining and...",805442.0,32,25170.062500,99.0
0,Aerospace & Defense,712535.0,15,47502.333333,76.0
20,"Telecommunications Services, Cable Supplier",595676.0,10,59567.600000,71.0
4,"Clothing, Shoes, Sports Equipment",458554.0,15,30570.266667,81.0
17,Packaged Goods,432825.0,16,27051.562500,117.0
23,Utilities,387006.0,33,11727.454545,83.0
16,Media & Advertising,324975.0,11,29543.181818,44.0
5,Conglomerates,34000.0,1,34000.000000,95.0